<div class="vote-buttons">
    {% include "question/question_vote_buttons.html" %}
    {% include "question/share_buttons.html" %}
</div>
<div id="post-id-{{question.id}}" class="question-content{% if question.deleted %} deleted{% endif %}">

    <h1><a href="{{ question.get_absolute_url() }}">{{ thread.get_title(question)|escape }}</a></h1>
    {% include "question/question_tags.html" %}

    <div id="question-table">
        <div class="question-body">
            <div class="post-update-info-container">
                {% include "question/question_author_info.html" %}
            </div>
            {{ question.html }}
        </div>
        <div id="question-controls" class="post-controls">
            {% include "question/question_controls.html" %}
        </div>
        <script type="text/javascript">
            (function(){
                if (askbot['data']['userIsAuthenticated'] === false){
                    var ctrl = document.getElementById('question-controls')
                    ctrl.parentNode.removeChild(ctrl);
                }
            })();
        </script>
        {% if thread.closed %}
            <div class="clearfix"></div>
            {# ==== START: question/closed_question_info.html ==== #}
            {% include "question/closed_question_info.html" %}
            {# ==== END: question/closed_question_info.html ==== #}
        {% endif %}
        {% include "question/question_comments.html" %}
    </div>

</div>

