{% extends "two_column_body.html" %}
<!-- template badges.html -->
{% block title %}{% spaceless %}{% trans %}Badges{% endtrans %}{% endspaceless %}{% endblock %}
{% block content %}
<h1 class="section-title">{% trans %}Badges{% endtrans %}</h1>
<p>
{% trans %}Community gives you awards for your questions, answers and votes.{% endtrans %}<br/>
{% trans %}Below is the list of available badges and number 
    of times each type of badge has been awarded. Have ideas about fun 
badges? Please, give us your <a href='{{feedback_faq_url}}'>feedback</a>
{% endtrans %}
</p>
<div id="medalList">
    {% for badge in badges %}
    <div style="clear:both;line-height:30px">
        <div style="float:left;min-width:30px;text-align:right;height:30px">
        {% for a in mybadges %}
            {% if a.badge_id == badge.id %}
             <span style="font-size:175%; padding-right:5px; color:#5B9058;">&#10004;</span>
            {% endif %}
        {% endfor %}
        </div>
        <div style="float:left;width:230px;">
            <a href="{{badge.get_absolute_url()}}" 
                title="{{badge.get_type_display()}} : {{badge.description}}" 
                class="medal"><span class="{{ badge.css_class }}">&#9679;</span>&nbsp;{{badge.name}}</a><strong> 
                &#215; {{ badge.awarded_count|intcomma }}</strong>
        </div>
        <p style="float:left;margin-top:8px;">{{badge.description}}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block sidebar %}
<div class="box">
    <h2>{% trans %}Community badges{% endtrans %}</h2>
    <p>
        <a style="cursor:default;" title="{% trans %}gold badge: the highest honor and is very rare{% endtrans %}" class="medal"><span class="badge1">&#9679;</span>&nbsp;{% trans %}gold{% endtrans %}</a>
    </p>
    <p>
        {% trans %}Gold badge is the highest award in this community. To obtain it you have to show 
profound knowledge and ability in addition to your active participation.{% endtrans %}
    </p>
    <p>
        <a 
            style="cursor:default;" 
            title="{% trans %}silver badge: occasionally awarded for the very high quality contributions{% endtrans %}" 
            class="medal"><span class="badge2">&#9679;</span>&nbsp;{% trans %}silver{% endtrans %}</a>
    </p>
    <p>
        {% trans %}silver badge: occasionally awarded for the very high quality contributions{% endtrans %}
    </p>
    <p>
        <a style="cursor:default;" title="{% trans %}bronze badge: often given as a special honor{% endtrans %}" class="medal">
        <span class="badge3">&#9679;</span>&nbsp;{% trans %}bronze{% endtrans %}</a>
    </p>
    <p>
        {% trans %}bronze badge: often given as a special honor{% endtrans %}
    </p>
</div>
{% endblock %}
<!-- end template badges.html -->
