<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{% block title %}{% endblock %} - {{ settings.APP_TITLE|escape }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {% block meta_description %}
        <meta name="description" content="{{settings.APP_DESCRIPTION|escape}}" />
        {% endblock %}
        <meta name="keywords" content="{%block keywords%}{%endblock%},{{settings.APP_KEYWORDS|escape}}" />
        <meta name="twitter:card" content="summary" /> 
        <meta name="twitter:site" content="@qpython" />
        <meta name="twitter:creator" content="@qpython" />

        <meta property="og:url" content="http://qpython.org/">
        <meta property="og:title" content="QPython - Python on Android" />
        <meta property="og:description" content="QPython is a script engine that runs on android devices. It lets your android device run Python scripts and projects." />
        <meta property="og:image" content="http://qpython-bin.googlecode.com/git/qpython-icon-150.png">

        {% if settings.GOOGLE_SITEMAP_CODE %}
        <meta name="google-site-verification" content="{{settings.GOOGLE_SITEMAP_CODE}}" />
        {% endif %}
        <link rel="shortcut icon" href="{{ settings.SITE_FAVICON|media }}" />
        {% block before_css %}{% endblock %}
        {% include "meta/html_head_stylesheets.html" %}
        {% block forestyle %}{% endblock %}
        {% include "meta/html_head_javascript.html" %}
        {% block forejs %}{% endblock %}
        {% if settings.USE_CUSTOM_HTML_HEAD %}
            {{ settings.CUSTOM_HTML_HEAD }}
        {% endif %}
    </head>
    <body class="{% block body_class %}{% endblock %}{% if user_messages %} user-messages{% endif %}{% if page_class %} {{page_class}}{% endif %}{% if request.user.is_anonymous() %} anon{% endif %} lang-{{settings.LANGUAGE_CODE}}">
        {% include "widgets/system_messages.html" %}
        {% include "debug_header.html" %}
        {% include "custom_header.html" ignore missing %}
        {% if settings.CUSTOM_HEADER|trim != '' %}
        <div id="custom-header">
            {{settings.CUSTOM_HEADER}}
        </div>
        {% endif %}
        {% include "widgets/header.html" %} {# Logo, user tool navigation and meta navitation #}
        {% include "widgets/secondary_header.html" %} {# Scope selector, search input and ask button #}
        {% if settings.ENABLE_LEADING_SIDEBAR %}
        <div id="leading-sidebar">
            {{ settings.LEADING_SIDEBAR }}
        </div>
        {% endif %}
        <div class="content-wrapper">

        <div style='color:red'>New version 0.9.8 has released, if you are using the old version please update. <a href='http://wiki.qpython.org/changelogs/' target='_blank'>Changelog</a> <a href='http://qpython-bin.googlecode.com/git/QPython80.apk' target='_blank'>Download </a> </div>
            {% block body %}
            {% endblock %}
        </div>
        <div style='padding-top:10px'>
        </div>
        {% if settings.FOOTER_MODE == 'default' %}
            {% include "widgets/footer.html" %}
        {% elif settings.FOOTER_MODE == 'customize' %}
            {{ settings.CUSTOM_FOOTER }}
        {% endif %}

        {% include "custom_footer.html" ignore missing %}
        {% include "meta/bottom_scripts.html" %}
        {% block endjs %}
        {% endblock %}
        <script type="text/javascript">
            for (url_name in askbot['urls']){
                askbot['urls'][url_name] = cleanUrl(askbot['urls'][url_name]);
            }
        </script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47458246-1', 'qpython.org');
  ga('send', 'pageview');

</script>

    </body>
</html>
