<html>
    <head>
        <title>Internal Server Error</title>
    </head>
    <body>
        <h1>Internal Server Error</h1>
        <p>
            Most likely this is caused by an import error 
            within Django due to an incomplete setup of your
            django project.
        </p>
        <p>
            Please look into your error logs for more details.
        </p>
        <p>
            Have you installed the database binding module?
        </p>
        <p>
            If you made your own customizations - have you forgotten to
            install some dependency module? Please note
            that dependency modules may have their own dependencies, etc,
            and they should also be satisfied.
        </p>
        <p>
            If you need further assistance, please email at
            <a href="mailto:support@askbot.com">support@askbot.com</a>,
            post your question at <a href="http://askbot.org/en/questions/">AskBot Support Forum</a>
            or call at +1-301-747-1533 (US).
        <p>
    </body>
</html>
