{% extends "email/base_mail.html"%}

{#
    parameters:
    * reply_separator_line
    * replace_content_address
    * mailto_link_subject
    * post
    * reply_code (comma-separated list of emails to respond to this message)
#}

{%block content %}
{{ reply_separator_line }}
<p>{% trans 
        post_text = post.text|safe_urlquote,
        subject = mailto_link_subject|safe_urlquote,
        author_email_signature = author_email_signature|safe_urlquote
%}If you would like to edit by email, please
<a href="mailto:{{ replace_content_address }}?body={{ post_text }}{{ author_email_signature}}&subject={{ subject }}">click here</a>{% endtrans %}</p>
<p>{% trans %}Below is a copy of your post:{% endtrans %}</p>
{% if post.post_type == 'question' %}
    <p style="font-size:16px">{{ post.thread.title }}</p>
{% endif %}
{{ post.html }}
{% endblock %}

{%block footer %}
{% include "email/footer.html" %}
<p style="{{ macros.fine_print_style() }}">{{ email_code }}</p>{# important #}
{% endblock %}
