<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <style type="text/css">
        {{widget.style|safe}}
    </style>
</head>
<body>
    {{widget.title|safe}}
    <div id="container">
        <ul>
            {% for thread in threads %}
                <li><a href="{{settings.APP_URL|strip_path}}{{ thread.get_absolute_url() }}" target="_blank">
                  {{ thread.title|escape }}</a></li>
            {% endfor %}
        </ul>
    </div> 
</body>
</html>
