{% extends "one_column_body.html" %}
<!-- create_ask_widget.html -->
{% block title %}{% trans %}{{action}} an {{widget_name}} widget{% endtrans %}{% endblock %}
{% block content %}
<h1 class="section-title">{% trans %}{{action}} an {{widget_name}} widget{% endtrans %}</h1>
{#% if form.non_field_errors() %}
  {{ form.non_field_errors() }}
{% endif %#}
<form method="post">
    <table>
        {{ form.as_table() }}
        <tr>
            <td colspan="2" style="text-align: center">
                <input type="submit" class="submit" value={% trans %}Save{% endtrans %} />
            </td>
        </tr>
    </table>
</form>

{% endblock %}
{% block endjs %}
{% endblock %}

