<!-- user_info.html -->
{% import "macros.html" as macros %}
<table class="user-info-table">
    <tr>
        <td style="vertical-align:top;text-align:center;">
            <div class='avatar'>
                {{ macros.gravatar(view_user, 128) }}
                {% if request.user == view_user %}
                    <p><a 
                        {% if support_custom_avatars %}
                            href="{% url avatar_change %}"
                        {% else %}
                            href="{% url faq %}#gravatar"
                        {% endif %}
                    >{% trans %}change picture{% endtrans %}</a></p>
                    {% if support_custom_avatars %}
                    <p><a 
                        href="{% url avatar_delete %}"
                        >{% trans %}remove{% endtrans %}</a>
                    </p>
                    {% endif %}
                {% endif %}
            </div>
            {% if can_show_karma %}
                <div class="scoreNumber">{{view_user.reputation|intcomma}}</div>
                <p><b style="color:#777;">{% trans %}karma{% endtrans %}</b></p>
            {% endif %}
            {% if user_follow_feature_on %}
                {{ macros.follow_user_toggle(visitor = request.user, subject = view_user) }}
            {% endif %}
        </td>
        <td width="360" style="padding-left:5px;vertical-align: top;">
            <table class="user-details">
                {% if request.user == view_user %}
                <tr>
                    <td class="user-profile-tool-links" align="left" colspan="2">
                        <a href="{% url edit_user view_user.id %}">
                            {% trans %}update profile{% endtrans %}
                        </a>
                        {% if settings.USE_ASKBOT_LOGIN_SYSTEM and request.user == view_user and settings.ALLOW_ADD_REMOVE_LOGIN_METHODS %}
                            | <a href="{{ settings.LOGIN_URL }}?next={{ settings.LOGIN_URL }}">
                                {% trans %}manage login methods{% endtrans %}
                            </a>
                        {% endif %}
                    </td>
                </tr>  
                {% endif %}
                <tr>
                    <th colspan="2" align="left">
                    <h3>{{user_status_for_display}}</h3>
                    </th>
                </tr>
                {% if view_user.real_name %}
                <tr>
                    <td>{% trans %}real name{% endtrans %}</td>
                    <td><b>{{view_user.real_name}}</b></td>
                </tr>
                {% endif %}
                {% if settings.GROUPS_ENABLED %}
                <tr>
                    <td>{% if user_groups %}{% trans %}groups{% endtrans %}{% endif %}</td>
                    <td>
                        <table id="groups-list">
                            {% for group in user_groups %}
                            <tr>
                                {{ macros.user_group(group, groups_membership_info[group.id]) }}
                            </tr>
                            {% endfor %}
                        </table>
                        <div class="clearfix"></div>
                        <a id="add-group">{% trans %}add group{% endtrans %}</a>
                    </td>
                </div>
                {% endif %}
                <tr>
                    <td>{% trans %}member since{% endtrans %}</td>
                    <td><strong>{{ macros.timeago(view_user.date_joined) }}</strong></td>
                </tr>
                {% if view_user.last_seen %}
                <tr>
                    <td>{% trans %}last seen{% endtrans %}</td>
                    <td><strong title="{{ view_user.last_seen }}">{{ macros.timeago(view_user.last_seen) }}</strong></td>
                </tr>
                {% endif %}
                {% if view_user.website and (not view_user.is_blocked()) %}
                <tr>
                    <td>{% trans %}website{% endtrans %}</td>
                    <td>{{ macros.user_website_link(view_user, max_display_length = 30) }}</td>
                </tr>
                {% endif  %}
                {% if view_user.location or view_user.country %}
                <tr>
                    <td>{% trans %}location{% endtrans %}</td>
                    <td>{{ macros.user_full_location(view_user) }}</td>
                </tr>
                {% endif %}
                {% if view_user.date_of_birth %}
                <tr>
                <!--todo  - redo this with whole sentence translation -->
                    <td>{% trans %}age{% endtrans %}</td>
                    <td>{{view_user.date_of_birth|get_age}} {% trans %}age unit{% endtrans %}</td>
                </tr>
                {% endif %}
                {% if votes_today_left %}
                <tr>
                    <td>{% trans %}todays unused votes{% endtrans %}</td>
                    <td><strong class="darkred">{{ votes_today_left }}</strong> {% trans %}votes left{% endtrans %}</td>
                </tr>
                {% endif %}
            </table>
        </td>
        <td width="380">
            <div class="user-about">
            {% if view_user.about and (not view_user.is_blocked()) %}
                {{view_user.about|linebreaks}}
            {% endif %}
            </div>
        </td>
    </tr>
</table>
<!-- end user_info.html -->
