{% extends "two_column_body.html" %}
{% import "macros.html" as macros %}
<!-- template answer_edit.html -->
{% block title %}{% spaceless %}{% trans %}Edit answer{% endtrans %}{% endspaceless %}{% endblock %}
{% block forestyle %}
    <link rel="stylesheet" type="text/css" href="{{"/js/wmd/wmd.css"|media}}" />
{% endblock %}
{% block content %}
<h1 class="section-title">
    {% trans %}Edit answer{% endtrans %} [<a href="{{ answer.thread._question_post().get_absolute_url() }}#{{ answer.id }}">{% trans %}back{% endtrans %}</a>]
</h1>
<div id="main-body" class="ask-body">
    <form id="fmedit" action="{% url edit_answer answer.id %}" method="post" >{% csrf_token %}
        <label for="id_revision" >{% trans %}revision{% endtrans %}:</label> <br/> 
        {% if revision_form.revision.errors %}{{ revision_form.revision.errors.as_ul() }}{% endif %}
        <div style="vertical-align:middle">
        {{ revision_form.revision }} <input type="hidden"
                                    id="select_revision"
                                    name="select_revision"
                                    value="false">
        </div>
        {{ macros.edit_post(
                        form,
                        post_html = revision.text,
                        editor_type = settings.EDITOR_TYPE
                    )
        }}
        {% if settings.WIKI_ON and answer.wiki == False %}
            {{ macros.checkbox_in_div(form.wiki) }}
        {% endif %}
        {% if settings.GROUPS_ENABLED and 
            request.user.is_authenticated() and
            request.user.can_make_group_private_posts()
        %}
            {{ macros.checkbox_in_div(form.post_privately) }}
        {% endif %}
        <div class="after-editor">
            <input id="edit_post_form_submit_button" type="submit" value="{% trans %}Save edit{% endtrans %}" class="submit" />&nbsp;
            <input type="button" value="{% trans %}Cancel{% endtrans %}" class="submit" onclick="history.back(-1);" />
        </div>

    </form>
</div>
{% endblock %}

{% block sidebar %}
    {% include "widgets/answer_edit_tips.html" %}
{% endblock %}

{% block endjs %}
    {% include "meta/editor_data.html" %}
    <script type='text/javascript' src='{{"/js/editor.js"|media}}'></script>
    <script type='text/javascript' src='{{"/js/jquery.validate.min.js"|media}}'></script>
    <script type='text/javascript' src='{{"/js/post.js"|media}}'></script>
    <script type='text/javascript'>
        {% if settings.ENABLE_MATHJAX or settings.MARKUP_CODE_FRIENDLY %}
            var codeFriendlyMarkdown = true;
        {% else %}
            var codeFriendlyMarkdown = false;
        {% endif %}
    </script>
    {% if settings.EDITOR_TYPE == 'markdown' %}
        <script type='text/javascript' src='{{"/js/wmd/showdown.js"|media}}'></script>
        <script type='text/javascript' src='{{"/js/wmd/wmd.js"|media}}'></script>
    {% endif %}
    <script type="text/javascript">
        $().ready(function(){
            $("#nav_questions").attr('className',"on");
            $('#editor').TextAreaResizer();
            
            //highlight code synctax when editor has new text
            $("#editor").typeWatch({highlight: false, wait: 3000,
                             captureLength: 5, callback: lanai.highlightSyntax});
                             
            //toggle preview of editor
            var display = true;
            var txt = "{% trans %}hide preview{% endtrans %}";
            $('#pre-collapse').text(txt);
            $('#pre-collapse').bind('click', function(){
                txt = display ? "{% trans %}show preview{% endtrans %}" : "{% trans %}hide preview{% endtrans %}";
                display = !display;
                $('#previewer').toggle();
                $('#pre-collapse').text(txt);
            });

            setupFormValidation(
                $("#fmedit"),
                CPValidator.getAnswerFormRules(),
                CPValidator.getAnswerFormMessages()
            );
            
            $('#id_revision').unbind().change(function(){
                $("#select_revision").val('true');
                $('#edit_post_form_submit_button').click();
            });
            
            lanai.highlightSyntax();
            
        });
    </script>
{% endblock %}
<!-- end template answer_edit.html -->
