{% extends "two_column_body.html" %}
{% import "macros.html" as macros %}
{%from "macros.html" import gravatar %}
<!-- template badge.html -->
{% block title %}{% spaceless %}{% trans name=badge.name %}{{name}}{% endtrans %} - {% trans %}Badge{% endtrans %}{% endspaceless %}{% endblock %}
{% block content %}
<h1 class="section-title">{% trans name=badge.name %}Badge "{{name}}"{% endtrans %}</h1>
    <p>
        <a href="{{badge.get_absolute_url()}}" title="{{ badge.get_type_display() }} : {% trans description=badge.description %}{{description}}{% endtrans %}" class="medal"><span class="{{ badge.css_class }}">&#9679;</span>&nbsp;{% trans name=badge.name%}{{name}}{% endtrans %}</a> {% trans description=badge.description %}{{description}}{% endtrans %}
    </p>
    <div>
        {% if badge.awarded_count %}
        <p style="float:left"><span class="count">{{ badge_recipients|length|intcomma }}</span>
        <strong>{% trans num_awardees=badge_recipients|length %}user received this badge:{% pluralize %}users received this badge:{% endtrans %}</strong></p>
        {% endif %}
    </div>
    <div class="clean"></div>
    <div id="award-list">
        {% for recipient in badge_recipients %}
            <div class="user">
                <ul>
                    <li class="thumb">{{ gravatar(recipient, 32) }}</li>
                    <li><a href="{{ recipient.get_absolute_url() }}">{{recipient.username|escape}}</a></li>
                    <li>{{ macros.user_score_and_badge_summary(recipient) }}</li>
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}
<!-- end template badge.html -->
