{% extends "one_column_body.html" %}
<!-- complete.html -->
{#
views calling this template: 
* django_authopenid.views.register with login_type='openid'
* django_authopenid.views.signin - with login_type='legacy'

purpose of this template is to allow user enter his/her name
email and sign up for email alerts at the initial registratio

parameters:
* provider 
* login_type openid|legacy
* username (same as screen name or username in the models, and nickname in openid sreg)
* openid_register_form
* openid_verify_form - not clear what this form is supposed to do, not used for legacy
* openid_username_exists
#}
{% block head %}{% endblock %}
{% block title %}{% spaceless %}{% trans %}Registration{% endtrans %}{% endspaceless %}{% endblock %}
{% block content %}
    <h1>{% trans %}User registration{% endtrans %}</h1>
    {% if openid_register_form.errors %}
        <ul class="errorlist">
        {% for error in openid_register_form.non_field_errors() %}
            <li>{{error}}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <div class="login">
        {% if login_type=='openid' %}
        <form name="fregister" action="{% url user_register %}" method="POST">{% csrf_token %}
        {% elif login_type=='facebook' %}
        <form name="fregister" action="" method="POST">{% csrf_token %}
        {% else %}
        <form name="fregister" action="{{ default_form_action }}" method="POST">{% csrf_token %}
        {% endif %}
            {{ openid_register_form.next }}
            <div class="form-row-vertical">
                <label for="id_username">
                    {%- trans %}<strong>Screen Name</strong> (<i>will be shown to others</i>){% endtrans %}
                </label>
                {% if openid_register_form.username.errors %} 
                    <p class="error">{{ openid_register_form.username.errors|join(", ") }}</p>
                {% endif %}
                {{ openid_register_form.username }}
            </div>
            <div class="form-row-vertical margin-bottom">
                <label for="id_email">
                    {%- trans %}<strong>Email Address</strong> (<i>will <strong>not</strong> be shared with 
anyone, must be valid</i>)
                    {% endtrans -%}
                </label>
                {% if openid_register_form.email.errors %} 
                    <p class="error">{{ openid_register_form.email.errors|join(", ") }}</p>
                {% endif %}
                {{ openid_register_form.email }}
            </div>
            <div class="submit-row"><input type="submit" class="submit" name="bnewaccount" value="{% trans %}Signup{% endtrans %}"/></div>
        </form>
    </div>
{% endblock %}
<!-- end complete.html -->
